@()

<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Our Project</h5>
                <p class="grey-text text-lighten-4">
                    DevSearch will be a tool to help developers find relevant code based on short
                    snippets thus providing context and examples to API and language usage.
                    The query space will be language agnostic to leverage the full extent
                    of open source software repositories.
                </p>


            </div>
            <div class="col l3 s12">
                @*<h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>*@
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="mailto:devsearch@@googlegroups.com">devsearch@@googlegroups.com</a></li>
                    @*<li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey">
        <div class="container">
            Made by <a class="grey-text text-lighten-3" href="http://devsearch.ch">DevSearch</a>
        </div>
    </div>
</footer>