@(title: String)

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>@title</title>


        <!-- Materialze CSS -->
    <link href="@routes.Assets.at("lib/materializecss/css/materialize.min.css")" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- SyntaxHighliter CSS -->
    <link href="@routes.Assets.at("lib/syntaxhighlighter/styles/shCore.css")" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="@routes.Assets.at("lib/syntaxhighlighter/styles/shThemeDefault.css")" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("stylesheets/custom.css")" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>