<!-- Jquery -->
<script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>

<!-- Materialize -->
<script src="@routes.Assets.at("lib/materializecss/js/materialize.min.js")"></script>

<!-- SyntaxHighlighter -->
<script src="@routes.Assets.at("javascript/xregexp-min.js")"></script>
<script src="@routes.Assets.at("lib/syntaxhighlighter/scripts/shCore.js")"></script>
<script src="@routes.Assets.at("lib/syntaxhighlighter/scripts/shLegacy.js")"></script>
<script src="@routes.Assets.at("lib/syntaxhighlighter/scripts/shBrushScala.js")"></script>

<!-- Init script -->
<script src="@routes.Assets.at("javascript/init.js")"></script>