@()

<div class="navbar-fixed hide-on-med-and-down">
    <nav class="black lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="@routes.Application.index()" class="brand-logo">DevSearch</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="@routes.Application.search()">Search</a></li>
                <li><a href="http://wiki.epfl.ch/devmine2015">Wiki</a></li>
                <li><a href="http://devsearch-epfl.github.io/devsearch-doc/">Documentation</a></li>

            </ul>
        </div>
    </nav>
    <a class="right" href="https://github.com/devsearch-epfl"><img style="position: fixed; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
</div>

<nav class="black lighten-1 hide-on-large-only" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="@routes.Application.index()" class="brand-logo">DevSearch</a>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="@routes.Application.search()">Search</a></li>
            <li><a href="http://wiki.epfl.ch/devmine2015">Wiki</a></li>
            <li><a href="http://devsearch-epfl.github.io/devsearch-doc/">Documentation</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>
