@(search: Application.SearchQuery, queryInfo: QueryInfo, results: Either[Seq[SnippetResult], String], timeTaken: scala.concurrent.duration.Duration)(implicit langs: Set[String] = devsearch.parsers.Languages.supportedLanguages)

@import helper.form

@main("Search Code") {


    <!-- Modal Structure -->
    <div id="features" class="modal">
        <div class="modal-content">
            <h4>Features foud</h4>
            <ul class="collection">
            @queryInfo.features.map { feature =>
                <li class="collection-item">@feature</li>
            }
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="section">


            <div class="row search-box">
            @form(routes.Application.search()) {
                <div class="input-field col m12">
                    <i class="mdi-hardware-keyboard-arrow-right prefix"></i>
                    <label for="code-paste1">Paste your code here</label>
                    <textarea rows="8" id="code-paste1" class="materialize-textarea" name="query">@search.query.getOrElse("")</textarea>
                </div>
                <button id="search-btn" class="search-float btn-floating btn-large waves-effect waves-light blue" type="submit">
                    <i class="large mdi-action-search"></i>
                </button>
                <div id="search-spin" class="search-float preloader-wrapper active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div></div>
                        <div class="gap-patch">
                            <div class="circle"></div></div>
                        <div class="circle-clipper right">
                            <div class="circle"></div></div>
                    </div>
                </div>

                <div class="col m6">
                    @langs.map { lang =>
                        <div class="language-filter">
                            <input @if(search.langSelectors.contains(lang)) {
                                checked="checked"
                            } type="checkbox" id="@lang-filter" name="@lang" />
                            <label for="@lang-filter">@lang.capitalize</label>
                        </div>
                    }
                    <div id="toggle-filters">
                        <a href="#!">Advanced search</a>
                    </div>
                </div>
                <div class="col m6">
                @if(search.query.isDefined) {
                    <label class="right">
                        @queryInfo.detectedLang.map { lang =>
                            Language detected is @lang
                        }.getOrElse {
                            We could not detect the language
                        }
                    with
                        <a class="modal-trigger" href="#features">@queryInfo.features.size features </a>
                    </label>
                    <br>
                    <label class="right">
                        Found
                        @results.fold(_.size, _ => 0)
                        results in
                        @{
                            timeTaken.toMillis / 1000.0
                        }
                        seconds
                    </label>
                }
                </div>


            }
            </div>


            <div class="row">

            @if(search.query.isDefined) {
                @results match {
                    case Left(entries) if entries.isEmpty => {
                        <h3>No result found.</h3>
                    }
                    case Left(entries) => {
                        @for(entry <- entries) {
                            <div class="col s12">
                                <div class="card grey lighten-5">
                                    <div class="card-content">

                                        <h6 class="card-title grey-text text-darken-4">
                                            <span>  <b>@entry.user/@entry.repo</b> @entry.truncadedPath </span><a class="black-text" href="#!"><i class="activator mdi-navigation-more-vert right"></i></a>
                                        </h6>

                                        <div>
                                            <pre class="@entry.language.map{l => brush: @l} first-line: @entry.startLine; toolbar: false;">@entry.code.getOrElse(entry, "Could not fetch code preview")</pre>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <a href="@entry.previewUrl" class="blue-text">See Code</a>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    case Right(error) => {
                        <h3>Something went wrong. Sorry.</h3>
                        <p>@error</p>
                    }
                }
            }

            </div>
        </div>
    </div>
}
