@(query: Option[String], results: Option[services.SearchResults])

@main("Search Code") {

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <form method="GET">
                    <div class="input-field col m11">
                        <i class="mdi-hardware-keyboard-arrow-right prefix"></i>
                        <label for="code-paste1">Paste your code here</label>
                        <textarea rows="8" id="code-paste1" class="materialize-textarea" name="q">@query.getOrElse("")</textarea>
                    </div>
                    <div class="col m1">
                        <button class="btn-floating btn-large waves-effect waves-light light-blue" type="submit">
                            <i class="large mdi-action-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">

            @for(entry <- results.map(_.entries).getOrElse(Nil)) {
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">@entry.path<i class="mdi-navigation-more-vert right"></i></span>
                            <div class="card-image waves-effect waves-block waves-light">
                                <pre class="brush: scala; first-line: 10; toolbar: false;">
                                @{ """
                                        |def thisIsAPlaceholder = Action {
                                        |   println("WTF")
                                        |   Ok(views.html.search())
                                        |}""".stripMargin
                                }
                                </pre>
                            </div>
                            <p><a href="https://github.com/devsearch-epfl/devsearch-play/blob/master/app/controllers/Application.scala" class="light-blue-text">See code</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Code snippet <i class="mdi-navigation-close right"></i></span>
                            <p>Here is some more information about this code snippet, like language, date, developper etc...</p>
                        </div>
                    </div>
                </div>
            }

            </div>

        </div>
        <br><br>

        <div class="section">

        </div>
    </div>
}
